.header--wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header--wrapper h2 {
  margin-right: 10px;
}
.header--wrapper input {
  margin-bottom: 0px;
  width: 70%;
}
.header--wrapper button {
  width: 20%;
}

.error {
  font-size: 14px;
  color: red;
}
