.editor-class {
  background-color: lightgray;
  padding: 1rem;
  border: 1px solid #ccc;
}
.toolbar-class {
  border: 1px solid #ccc;
}
.content-left .editorConvert {
  margin-top: 1rem;
}
.demo-content {
  border: 1px solid #f1f1f1;
  padding: 5px;
  border-radius: 5px;
  width: 100%;
  margin-top: 0.75rem;
  border-radius: 2px;
  resize: none;
  height: 100px;
}

.wrapper-class {
  padding: 1rem;
  border: 1px solid #ccc;
}
