#table-element {
  text-align: center;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 12px;
}

#table-element td,
#table-element th {
  border: 1px solid #ddd;
  padding: 8px;
}

#table-element tr:nth-child(even) {
  background-color: #f2f2f2;
}

#table-element th {
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  color: #212529;
}

#table-element {
  margin-top: 20px;
}
