#title {
  text-align: center;
  font-family: arial, sans-serif;
}

.content-left,
.content-right {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  height: auto;
  width: 100%;
  padding: 40px;
}

.input-group {
  display: flex;
  justify-content: space-between;
}
.input-group input {
  width: 45%;
  margin-top: 25px;
}
.container {
  max-width: 700px;
  margin: 80px auto;
}

.tabs__content {
  padding: 30px;
  color: var(--paragraph);
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  background: var(--cardBG);
}

.tabs__content h3 {
  color: var(--headline);
  font-weight: 700;
  font-family: inherit;
  font-size: 24px;
  margin-bottom: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --headline: #333;
  --paragraph: #c9bae2;
  --cardBG: #463366;
  --cardText: #cabae2;
  --activeColor: #ff6e6c;
}

body {
  background: var(--bg);
}
.noData {
  display: flex;
  justify-content: center;
  padding: 20px;
}
