#title {
  text-align: center;
  font-family: arial, sans-serif;
}
#table-element {
  text-align: center;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 12px;
}

#table-element td,
#table-element th {
  border: 1px solid #ddd;
  padding: 8px;
}

#table-element tr:nth-child(even) {
  background-color: #f2f2f2;
}

#table-element th {
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  color: #212529;
}

#table-element {
  margin-top: 20px;
}

input {
  display: block;
  width: 93%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 1rem;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

input:focus {
  border-color: #7952b3;
  box-shadow: 0 0 0 3px rgb(121 82 179 / 25%);
}

input:focus-visible {
  outline: none;
}

button {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  height: 40px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  color: #fff;
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.content-left,
.content-right {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  height: auto;
  width: 100%;
  padding: 40px;
}

.input-group {
  display: flex;
  justify-content: space-between;
}
.input-group input {
  width: 45%;
  margin-top: 25px;
}
.header--wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header--wrapper h2 {
  margin-right: 10px;
}
.header--wrapper input {
  margin-bottom: 0px;
  width: 70%;
}
.header--wrapper button {
  width: 20%;
}

.wrapper-class {
  padding: 1rem;
  border: 1px solid #ccc;
}
.editor-class {
  background-color: lightgray;
  padding: 1rem;
  border: 1px solid #ccc;
}
.toolbar-class {
  border: 1px solid #ccc;
}
.content-left .editorConvert {
  margin-top: 1rem;
}
.demo-content {
  border: 1px solid #f1f1f1;
  padding: 5px;
  border-radius: 5px;
  width: 100%;
  margin-top: 0.75rem;
  border-radius: 2px;
  resize: none;
  height: 100px;
}

.container {
  max-width: 700px;
  margin: 80px auto;
}

.tabs__content {
  padding: 30px;
  color: var(--paragraph);
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  background: var(--cardBG);
}

.tabs__content h3 {
  color: var(--headline);
  font-weight: 700;
  font-family: inherit;
  font-size: 24px;
  margin-bottom: 10px;
}

.tabs__nav {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 10px 0 30px;
}

.tabs__button {
  background: rgba(0, 0, 0, 0);
  padding: 4px;
  color: var(--headline);
  box-shadow: none;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  display: block;
  position: relative;
  font-family: inherit;
  font-weight: 400;
}

.tabs__button:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background: var(--activeColor);
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s, opacity 0.4s ease-in-out;
}

.tabs__button.active::after {
  opacity: 1;
  visibility: visible;
  transition: visibility 0s, opacity 0.4s ease-in-out;
}

.tabs__item:not(:last-child) {
  margin-right: 20px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --headline: #333;
  --paragraph: #c9bae2;
  --cardBG: #463366;
  --cardText: #cabae2;
  --activeColor: #ff6e6c;
}

body {
  background: var(--bg);
}
.noData {
  display: flex;
  justify-content: center;
  padding: 20px;
}
